# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_2.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_7.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_7.xml
.idea/libraries/Maven__com_alibaba_druid_1_0_27.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_3_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_6_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_6_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_6_5.xml
.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_0_9_5.xml
.idea/libraries/Maven__com_github_pagehelper_pagehelper_4_1_6.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
.idea/libraries/Maven__javax_el_el_api_2_2.xml
.idea/libraries/Maven__javax_enterprise_cdi_api_1_1.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__javax_servlet_jsp_jsp_api_2_0.xml
.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_6.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__mysql_mysql_connector_java_6_0_5.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_5_4.xml
.idea/libraries/Maven__opensymphony_ognl_2_6_11.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_6.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_9.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_2_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_5_2_5_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_0_3_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_1_spec_1_0_0_Beta1.xml
.idea/libraries/Maven__org_logback_extensions_logback_ext_spring_0_1_4.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_1_0.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_0.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_20.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_20.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_12_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_10_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_3_4_RELEASE.xml
Would rem
ove .idea/libraries/Maven__org_springframework_spring_beans_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jms_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_messaging_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_portlet_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_binding_2_4_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_js_2_4_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_js_resources_2_4_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_webflow_2_4_4_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/spring.iml
.idea/vcs.xml
.idea/workspace.xml
spring-1-di/spring-1-di.iml
spring-2-aop/spring-2-aop.iml
spring-2-aop/src/main/resources/
spring-3-mvc/spring-3-mvc.iml
spring-3-mvc/src/main/resources/
spring-3-mvc/src/main/webapp/META-INF/
spring-3-mvc/src/main/webapp/WEB-INF/lib/
spring-4-flow/spring-4-flow.iml
spring-4-flow/src/main/webapp/META-INF/
spring-4-flow/src/main/webapp/WEB-INF/lib/
spring-5-security/spring-5-security.iml
spring-5-security/src/main/webapp/META-INF/
spring-5-security/src/main/webapp/WEB-INF/lib/
spring-6-jdbc/spring-6-jdbc.iml
spring-7-jpa/spring-7-jpa.iml
spring-7-jpa/src/main/webapp/META-INF/
spring-7-jpa/src/main/webapp/WEB-INF/lib/
spring-8-nosql/pom.xml
spring-8-nosql/spring-8-nosql.iml
spring-8-nosql/src/main/java/
spring-8-nosql/src/test/
