<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="pojo.User">
        <constructor-arg value="许金鑫"/>
        <property name="age" value="20"/>
        <property name="QQ">
            <list>
                <value>110</value>
                <value>210</value>
                <value>310</value>
            </list>
        </property>
    </bean>

    <bean class="config.Config"/>
</beans>